section.section.section-conditions
	.wrapper-decor-img.wrapper
		.conditions-decor.decor-img(data-aos="zoom-in" data-aos-delay="300")
	.wrapper-parallax.scene
		.parallax-item.parallax-item-conditions-1(data-depth="0.03")
		.parallax-item.parallax-item-conditions-2(data-depth="0.05")
	.wrapper.wrapper-conditions
		.conditions-wrapper(data-aos="fade-in" data-aos-delay="300")
			h2.h2-title.h2-title_conditions !{aboutConditionsText.title[lang]}
			p.center.conditions__text.big-text !{aboutConditionsText.text[lang]}
			a(href=linkSignup).btn !{buttonText.btnOpenAcc[lang]}
