section.section.section-quality
	.wrapper.wrapper_quality
		.quality-wrapper(data-aos="fade-in" data-aos-delay="300")
			h2.h2-title.h2-title_quality !{aboutQualityText.title[lang]}
			p.big-text.quality__text.center !{aboutQualityText.text[lang]}
			a(href=linkSignup).btn.btn-about !{buttonText.btnStartTrade[lang]}
