.popup.saccess-popup.popup_information.mfp-hide#information-popup
	.popup-decor-2.decor-img
	.popup-decor-1.decor-img
	.popup-decor-4.decor-img
	.popup-decor-3.decor-img
	.popup-decor-5.decor-img
	.popup-decor-6.decor-img
	.popup-decor-7.decor-img
	.popup-decor-8.decor-img
	.popup-decor-9.decor-img
	.title-saccess.title-saccess_info.h2-title.js-text.center
