.markets-list__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: rem(61px);
  &:last-child {
    margin-bottom: 0;
  }
  &:nth-child(even) {
    flex-direction: row-reverse;
    .markets-img-wrapper {
      margin-right: 0;
      img {
        border-radius: rem(90px) 0 rem(90px) rem(90px);
      }
    }
    .markets-content-wrapper {
      margin-right: rem(32px);
    }
  }
}
.markets-content-wrapper {
  width: 100%;
  max-width: rem(456px);
}
.markets-img-wrapper {
  margin-right: rem(32px);
  img {
    border-radius: 0 rem(90px) rem(90px) rem(90px);
  }
}
.markets-list__title {
  margin-bottom: rem(24px);
}
.markets-list__text {
  margin-bottom: rem(48px);
}
.btn-markets-list {
  margin-right: rem(24px);
}
.section-markets {
  padding-bottom: rem(64px);
}
.markets-list__item-1 {
  .markets-img-wrapper {
    &::before {
      right: 0;
      bottom: rem(-64px);
    }
  }
}
.markets-list__item-2 {
  .markets-img-wrapper {
    &::before {
      transform: rotate(90deg);
      left: rem(-44px);
      bottom: rem(-53px);
    }
  }
}
.markets-list__item-3 {
  .markets-img-wrapper {
    &::before {
      transform: rotate(-90deg);
      right: rem(24px);
      bottom: rem(-76px);
    }
  }
}
.markets-list__item-4 {
  .markets-img-wrapper {
    &::before {
      left: rem(-33px);
      bottom: rem(-30px);
    }
  }
}
.markets-list__item-5 {
  .markets-img-wrapper {
    &::before {
      right: rem(-33px);
      bottom: rem(-30px);
    }
  }
}
.markets-list__item-6 {
  .markets-img-wrapper {
    &::before {
      transform: rotate(90deg);
      left: rem(-56px);
      bottom: rem(-75px);
    }
  }
}
.wrapper_markets-list {
  position: relative;
}
.decor-img_markets-list-1 {
  width: rem(1070px);
  height: rem(1070px);
  border-radius: 50%;
  background: #F7FAFF;
  right: rem(-791px);
  top: rem(30px);
}
.decor-img_markets-list-2 {
  width: rem(1154px);
  height: rem(1154px);
  border-radius: 50%;
  background: #E0F7FF;
  top: rem(1248px);
  left: rem(-873px);
}


// ADAPTIVE
@media screen and (max-width: 1160px) {
  .markets-content-wrapper {
    max-width: none;
    flex-shrink: 3;
  }
  .markets-img-wrapper {
    flex-shrink: 1;
  }
}
@media screen and (max-width: 900px)  {
  .markets-list__item {
    flex-direction: column !important;
  }
  .markets-img-wrapper {
    margin-right: 0 !important;
    margin-bottom: rem(40px);
    max-width: rem(400px);
    &::before {
      display: none;
    }
  }
  .markets-content-wrapper {
    margin-right: 0 !important;
  }
  .markets-list__title,
  .markets-list__text {
    text-align: center;
  }
  .markets-list__title {
    margin-bottom: rem(24px) !important;
  }
  .markets-list__btns {
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 640px) {
  .markets-list__btns {
    display: grid;
    grid-template-columns: auto;
    grid-gap: rem(16px);
  }
  .btn-markets-list {
    margin-right: 0;
  }
}
