mixin marketAssets(title, text, img)
	section.section.section-assets
		.wrapper-parallax.scene
			.parallax-item.parallax-item-assets-1(data-depth="0.03")
			.parallax-item.parallax-item-assets-2(data-depth="0.05")
		.wrapper.wrapper_assets(data-aos="fade-up" data-aos-delay="300")
			.assets-wrapper.simple-block
				h2.h2-title.h2-title_assets !{title}
				p.assets-text.center.all-text-block.big-text !{text}
