mixin marketGraph(attr)
    section.section.section-graph
        .wrapper.wrapper-graph
            .decor-img.decor-img_graph(data-aos="zoom-in" data-aos-delay="300")
            h2.section-graph__title.h2-title !{commonMarketsText.title_graph[lang]}
            .graph-wrapper.block-with-decor
                .graph.block-with-decor#tradeview(data-item=attr height="650")
