section.section.section-news
	.wrapper.wrapper-news
		h2.h2-title.h2-title_news !{indexNewsText.h2[lang]}
		.news-slider-wrapper(data-aos="fade-up")
			.news-slider(class= "news-slider_" + lang)
				.news-slider__items.data--js-news(class="news-slider__items-" + lang)
			.wrapper.arrow-news-wrapper
				.dots-wrapper.dots-wrapper-news-js.dots-wrapper_news-header
