// FONTS
$font-roboto: 'Roboto', sans-serif;
$root-font-size: 16px;

//COLORS
$color-black: #000000;
$color-white: #ffffff;
$color-green: #6feea8;
$color-red: rgba(255, 91, 91, 1);
$color-button: #504EA1;
$color-button_hover: #201F55;
$color-title: #201F55;
$button-shadow:  rem(25px) rem(25px) rem(30px) rgba(80, 78, 161, 0.1);

